<!--style sheet-->
<link rel="stylesheet" href="components/account/account.css">
<!--html goes here-->
<div class="flex items-center justify-center w-full h-12">
    <h1 class="text-md font-semibold w-4/5"> > Cuenta</h1>
</div>
<section class="w-full h-full flex flex-col items-center justify-center">
    <h2 class="font-semibold text-xl">Datos de la cuenta</h2>
    <div class="w-full h-auto flex flex-col gap-2 items-center justify-center">
        <h3>Información de usuario</h3>
        <div id="user-data" class="w-3/5 py-2 px-4">
            <span class="loading loading-spinner text-success"></span>
        </div>
    </div>
    <div class="w-full h-auto flex flex-col gap-2 items-center justify-center">
        <h3>Información de tarjeta</h3>
        <div id="user-card" class="w-3/5 py-2 px-4">
            <span class="loading loading-spinner text-success"></span>
        </div>
    </div>
    <div class="w-full h-auto flex flex-col gap-2 items-center justify-center">
        <h3>Historial</h3>
        <div id="user-history" class="w-3/5 py-2 px-4">
            <span class="loading loading-spinner text-success"></span>
        </div>
    </div>
</section>