<!--style sheet-->
<link rel="stylesheet" href="components/routes/routes.css">
<!--html goes here-->
<!--html goes here-->
<!-- <div class="flex items-center justify-center w-full h-12">
    <h1 class="text-md font-semibold w-4/5"> > Estaciones</h1>
</div> -->
<section class="w-full h-full flex flex-row">
    <div class="flex flex-col items-center justify-center w-1/2 h-full">
        <div id="mapa" class="flex flex-col items-center justify-center shadow-all-sides h-5/6 w-10/12  rounded-lg">
            <h2
                class="h-[10%] shadow-all-sides w-full rounded-t-lg flex items-center justify-center bg-deepBlue text-white font-semibold">
                Mapa</h2>
            <div id="mapa" class="h-[90%]">
            </div> 
            <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m44!1m12!1m3!1d53878.82816927895!2d-116.91627411244048!3d32.434509944699684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m29!3e0!4m3!3m2!1d32.460949!2d-116.82541499999999!4m5!1s0x80d93e7f591a76eb%3A0xbde285916990b185!2sPlaza%20Sendero%20Tijuana!3m2!1d32.4547119!2d-116.83783609999999!4m5!1s0x80d93d9fe401ce4f%3A0xe5ec2583bce6b69e!2sInstituto%20de%20Movilidad%20Sustentable%2C%20El%20Florido%2C%20Tijuana%2C%20Baja%20California!3m2!1d32.4475329!2d-116.8503415!4m5!1s0x80d93bf949939b51%3A0x33ae4fd52089d460!2sPuerta%20plata%2C%20Condominio%20Agata%2C%20Tijuana%2C%20Baja%20California!3m2!1d32.4105104!2d-116.9149034!4m5!1s0x80d93e743f2e3bd7%3A0xbf19e069ae61d678!2sUniversidad%20Tecnol%C3%B3gica%20de%20Tijuana%2C%20El%20Refugio%2C%20Quintas%20Campestre%2C%20Redondo%2C%20Baja%20California!3m2!1d32.460949!2d-116.82541499999999!5e0!3m2!1ses-419!2smx!4v1721898695329!5m2!1ses-419!2smx"
                class="w-full h-full" style="border:0;" allowfullscreen="true" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe> -->

        </div>
    </div>
    <div class="flex flex-col items-center justify-center w-1/2 h-full">
        <div class="flex flex-col gap-2 items-center justify-center shadow-all-sides h-5/6 w-10/12  rounded-lg">
            <span
                class="h-[10%] shadow-all-sides w-full rounded-t-lg flex items-center justify-center bg-deepBlue text-white font-semibold">Sección
                de estaciones</span>
            <aside class="w-full h-[90%]">
                <!-- Open the modal using ID.showModal() method -->
                <button class="btn btn-sm btn-success" onclick="my_modal_1.showModal()">+ Agregar una nueva
                    estacion</button>
                <div class="flex w-4/5 flex-col">
                    <div class="divider divider-success text-green-700">Estaciones</div>
                </div>
                <div class="flex flex-col items-center justify-center w-full">
                    <div class="flex flex-row gap-2 w-full my-2">
                        <div class="ml-6 w-2/5 font-semibold">Nombre de la estacion:</div>
                        <div class="mr-6 flex items-end justify-end w-2/5">%%</div>
                    </div>
                </div>
                <div id="stationList" class="flex flex-col gap-4 items-center justify-center overflow-y-auto w-full">
                    <span class="loading loading-spinner text-success"></span>
                </div>
            </aside>
        </div>
    </div>
</section>

<dialog id="my_modal_1" class="modal">
    <div class="modal-box text-white">
        <h3 class="text-lg font-bold">Agregar nueva estación</h3>
        <p class="py-4">Ingresa los datos necesarios para agregar una nueva estación</p>
        <div class="modal-action flex items-center justify-center">
            <form id="dialog" class="routeForm flex items-center justify-center flex-col gap-2 w-3/5 h-full">
                <div class="relative mt-6">
                    <label for="name"
                        class="absolute top-0 left-3 text-gray-300 text-sm transition-transform duration-300 transform -translate-y-4 scale-75 origin-left peer-placeholder-shown:translate-y-1/2 peer-placeholder-shown:scale-100 peer-placeholder-shown:text-gray-500 peer-focus:translate-y-[-0.75rem] peer-focus:text-gray-100">
                        Nombre de estación
                    </label>
                    <input type="text" name="name" id="name" placeholder=" "
                        class="peer block w-full bg-gray-700 border border-gray-600 rounded-md px-3 py-2 text-white placeholder-transparent focus:border-gray-400 focus:outline-none"
                        autocomplete="off" required />
                </div>

                <div class="relative mt-6">
                    <label for="location"
                        class="absolute top-0 left-3 text-gray-300 text-sm transition-transform duration-300 transform -translate-y-4 scale-75 origin-left peer-placeholder-shown:translate-y-1/2 peer-placeholder-shown:scale-100 peer-placeholder-shown:text-gray-500 peer-focus:translate-y-[-0.75rem] peer-focus:text-gray-100">
                        Ubicación de estación
                    </label>
                    <input type="text" name="location" id="location" placeholder=" "
                        class="peer block w-full bg-gray-700 border border-gray-600 rounded-md px-3 py-2 text-white placeholder-transparent focus:border-gray-400 focus:outline-none"
                        autocomplete="off" required />
                </div>

                <div class="my-6">
                    <button type="submit" class="flex items-center justify-center w-full rounded-md 
                        btn btn-sm btn-success">
                        Crear nueva estación
                    </button>
                </div>
                <div class="w-full flex items-end justify-end">
                    <button type="button" class="btn btn-sm" onclick="my_modal_1.close()">Cerrar</button>
                </div>
                <div id="message_response" class="py-2 px-4 bg-purple-700 text-white rounded-lg shadow">

                </div>
            </form>
        </div>
    </div>
</dialog>